$text-color: #fff;
$a-color: #000;
$background-color: rgba(0, 0, 0, .5);

body {
  background-image: url('/assets/images/bw.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $text-color;
  font-family: 'Quattrocento', serif;
}

a {
  color: $a-color;
}

.dynamic-a {
  color: $text-color;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  background-color: $background-color;
  height: 600px;
}

h2 {
  padding-bottom: 10px;
  text-decoration: underline;
}
