$text-color: #fff;

body {
  background-image: url('/assets/images/bw.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $text-color;
  font-family: 'Quattrocento', serif;
}
