<h4>
{{!-- {{#link-to 'favorite' favorite class="dynamic-a"}} --}}
  {{favorite.title}}
{{!-- {{/link-to}} --}}

{{!-- {{#if isEmpty}} --}}
<button class='btn btn-xs' {{action 'delete'}}>Delete</button>
{{!-- {{/if}} --}}

<button class='btn btn-xs' {{action 'edit'}}>Edit</button>
</h4>
